.imagesUser ul {
	padding-top:40px;
	padding-bottom:40px;
	list-style: none;
	margin: 0 auto;
	display: block;	
	width:1040px;
}
.imagesUser ul li {
	margin:5px;
	display:inline-block;
}
.imageBox {
	width:300px;
	height:300px;
	background:#fff;
	border:1px solid #e6e6e6;
}
.imagesUser ul li img{
	  position:absolute;
    top:0;
    bottom:0;
	display:block;
    margin:auto;
	width:100%;
	max-height:298px;
}
.overlay {
 position:relative;
 top:0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.imagesUser ul li:hover .overlay {
  opacity: 0.5;
  cursor:pointer;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#overlay {
	background: rgba(0,0,0,0.7);
	position: absolute;
	top:0;
	left:0;
	display:none;
	text-align:center;
	width:100%;
	height:100%;
	z-index:2;
}
#overlay #userImage {
	width:  600px;
    height: auto;
	float:left;
    
}
#overlay #closeImage {
	width:25px;
	height:25px;
	position:absolute;
	cursor:pointer;
	top:12px;
	right:12px;
}
#container {
	width:950px;
	height:auto;
	background:#fff;
	position:fixed;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	margin: auto;
}
#imgUserInfo {
	font-size:13px;
	position:absolute;
	top:10px;
	right:280px;
}
.userProfileImg {
	width:45px;
	height:45px;
	border-radius:50%;
	border:1px solid #e6e6e6;
}
.userProfile{
	display: inline-block;
	cursor:pointer;
}
.userName{
	font-weight:bold;
	position:absolute;
	top:18px;
	margin-left:30px;
	display: inline-block;
}
#userComments {
	position:absolute;
	top:60px;
	width:310px;
	height:auto;
	min-height:200px;

}
.commentsInput {
	position:absolute;
	left:0;
	bottom:0;
	font-size:13.3px;
	border:none;
	outline: none;
	width:85%;
	padding:10px;
}
.commentUser {
	display:inline-block;
	float:left;
	display:block;
	
}
.username {
	font-size:14px;
	color:grey;
	font-weight:bold;
}