.user_profile_information {
	top:40px;
	padding-bottom:60px;
}
.user_profile_image {
	width:152px;
	height:152px;
	border-radius:50%;
	border:1px solid #e6e6e6;
}
.user_profile_image_pos {
	float:left;
}
.user_profile_error {
	text-align:center;
	padding-top:30px;
	font-size:25px;
}
.user_profile_error.private {
	text-align:center;
	padding-top:30px;
	font-size:25px;
}
.private_lock {
	background:url('../images/mediaconnect/lock.png') no-repeat;
	width:120px;
	height:120px;
	margin:0 auto;
}
#user_info_box {
    width: 60%; 
	margin: 0px auto;
	height:auto;
	padding:10px;
	color:#000;
	
}
.user_stats_box {
	top:-10px;
	left:90px;
}
@media screen and (max-width: 770px) {
	.imagesUser ul li {
		display: block; 
         float: none;
		 width:100%;
		
	}
	.imagesUser ul {
		padding:0;
		width:100%;
	}
	.imageBox {
		margin:6px;
	width:350px !important;
	}
	.user_profile_image_pos {
		width:100%;
		height:auto;
		float:left;
		display:block;
		left:0;
		text-align:Center;
	}
   .user_stats_box {
	   width:100%;
	   height:auto;
	float:left;
	display:block;
	margin-top:40px;
	left:0;
	text-align:Center;
	}
	.profile-wrap {
		padding:0;
		position:relative;
		left:0;
	}
}
.user_follow_btn {
	background: #3897f0;
    border-color: #3897f0;
    color: #fff;
	border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-weight: 600;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
	padding:3px 25px 3px 25px;
    -webkit-appearance: none;
}
.user_follow_btn:focus {
	 background:#75B9F9;
	 border-color:#75B9F9;
}
.user_follow_btn.unfollow {
	background: #fff;
    border-color: #fff;
    color: #000;
	border-radius: 3px;
    border-style: solid;
    border: 1px solid #e4e4e4;
    font-weight: 600;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding:3px 25px 3px 25px;
    -webkit-appearance: none;
}
.edit_settings {
	background: #fff;
    border-color: #fff;
    color: #000;
	border-radius: 3px;
    border-style: solid;
    border: 1px solid #e4e4e4;
    font-weight: 400;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding:3px 25px 3px 25px;
    -webkit-appearance: none;
}
.edit_settings.save {
	background: #3897f0;
    border-color: #3897f0;
    color: #fff;
	border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-weight: 300;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding:3px 25px 3px 25px;
    -webkit-appearance: none;
	right:10px;
	position:absolute;
	bottom:10px;
}
.edit_settings.terug {
	background: #d8d8d8;
    color: grey;
	border-radius: 3px;
    border-style: solid;
    border: 1px solid #e4e4e4;
    font-weight: 400;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding:3px 25px 3px 25px;
    -webkit-appearance: none;
	left:10px;
	position:absolute;
	bottom:10px;
}
.image_upload {
	top:-90px;
	left:160px;
}
.image_upload_box {
	padding-bottom:10px;
	border-bottom:1px solid #e6e6e6;
}
.profile_settings_box {
	margin: 0 auto;
	padding:10px;
	background:#fff;
	width:60%;
	height:500px;
	border: 1px solid #e6e6e6;
}
#bio {
	display:block;
	padding:5px;
}
.bio_box {
	
	padding:10px;
	border-bottom:1px solid #e6e6e6;
}
.user_box_profile {
	width:auto;
	height:auto;
}
.user_verified_profile{
	background-image: url('../images/mediaconnect/verified.png');
	background-repeat: no-repeat;
	background-size:25px;
	position:absolute;
	top:7px;
	width:25px;
	height:25px;
	margin-left:7px;
	float:left;
	cursor:pointer;
}
.user_verified_profile span {
	visibility: hidden;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
	font-size:12px;
    border-radius: 6px;
    padding: 7px 5px;
  position: absolute;
    z-index: 1;
    top: -3px;
    left: 140%;
	opacity:0.9;
	text-transform: none;
}
.user_verified_profile:hover span {
	visibility:visible;
}
.user_profile_name {
	text-transform: lowercase;
	font-weight:Light;
	font-size:30px;

}
.user_profile_description {
	top:40px;
}
.user_stats, .user_follow_stat {
	top:15px;
}
.user_stats {
	margin-left:20px;
}
.user_info_photos{
	
	width: 1020px;
	margin:0 auto;

}

.user_profile_photo article {
	width:70px;
	margin: 0 auto;
	transition-timing-function: ease-in;
	transition: 0.2s;
	text-align:center;

}
.user_profile_photo:hover article {
	margin-top: -210px;
	text-align:center;
	
}
.user_profile_photo article h3, .user_profile_photo article h4, .user_profile_photo article h5, .user_profile_photo article p {
	padding:.2rem;
}
.image_info {
	font-weight:bold;
	color:#000;
	text-align:center;
	font-size:15px;
}