html {
  font-family: 'Raleway' , sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a, a:link, a:hover {
	text-decoration:none;
}

.navbar-nav > li > a {
	padding-top:16px !important; padding-bottom:6px !important;
	}
.navbar {
	min-height:52px !important;
	margin-bottom: 0 !important;
	background:#fff;
	border-radius:0;
}
.nav-icons{
	z-index:1;
}
#search {
	text-align:center;
}
.btn-search {
	margin-left:-2em;
}
*::-webkit-input-placeholder {
    color: #B5B5B5;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #B5B5B5;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #B5B5B5;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color:#B5B5B5;
}
.input-search {
    top:3px;
    padding: 3px 10px 3px 26px;
    border: solid 1px #dbdbdb;
    background:#fafafa;
    border-radius: 3px;
    color: #262626;
    font-size: 14px;
    z-index: 2;
    left:30px;
}
.input-search:focus {
    outline: none;
    background:#fff;
}
.placeSearch {
    position: absolute;
    top: 8.7px;
    left:37px;
    z-index: 2;
    color:#a4a4a4;
    text-align:center;
}
.fancy-font {
  font-family: "Kaushan Script", cursive;
  font-size:23px;
  z-index:1;
}
.nav-user-img {
	width:35px;
	height:35px;
	border:1px solid grey;
	border-radius:50%;
}
.nav-username {
	margin-top: -7px;
}
@media screen and (min-width: 768px){
    .collapse{ display:block;}
}
.like_heart {
  background-image: url("/assets/images/mediaconnect/notclicked_heart.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  cursor:pointer;
  height: 27px;
  width: 27px;
  border:none;
  margin-top:-3px;
  margin-left:10px;
  text-indent:-999px;
  outline:none;
}
.like_heart.clicked {
  background-image: url("/assets/images/mediaconnect/clicked_heart.png");
}
.like_heart:focus {
  outline:none;
}
.desc_box {
	padding:10px;
}

.instagram-wrap {
  background: #fafafa;
  margin-left: auto ;
  margin-right: auto ;
}
.profile-wrap {
  background: #fafafa;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:20px;
}
.instagram-content h3 {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 50px 0;
  color: #bbbbbb;
}
#instafeed {
	margin: 0 auto;
	padding:30px 0;
	width:47%;
}
#insta_container {
	margin: 0 auto;
	padding:30px 0;
	width:47%;
}
.n-link{
	color:#000 !important;
}
.instagram-content .photo-box {
  margin: 0 0 30px 0;
}
.instagram-content .photo-box .image-wrap img {
  width: 100%;
  border-left:1px solid #e6e6e6;
  border-right:1px solid #e6e6e6;
  max-height:650px;
}
.instagram-content .photo-box .notif {
  width: 100%;
  background: white;
  color: #000;
  letter-spacing: 1px;
  height: auto;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border-left:1px solid #e6e6e6;
  border-right:1px solid #e6e6e6;
  max-height:650px;
}
.instagram-content .photo-box .image-wrap .likes {
  position: absolute;
  bottom: 5px;
  left: 15px;
  padding: 5px;
  background: black;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius:10px;
}
.instagram-content .photo-box .top_name {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background: white;
  color: #000;
  letter-spacing: 1px;
  padding: 15px;
  height: 65px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border:1px solid #e6e6e6;
}
.instagram-content .photo-box .description {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background: white;
  color: #000;
  letter-spacing: 1px;
  padding:20px;
  min-height:75px;
  height: auto;
  overflow: hidden;
   border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
	border:1px solid #e6e6e6;
}
.instagram-content .photo-box .down_box {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background: white;
  color: #000;
  letter-spacing: 1px;
  padding: 20px;
 height:30px;
  height: auto;
  overflow: hidden;
   border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
}
@media screen and (max-width: 995px) {
  #instafeed {
	width:60%;
}
}
@media screen and (max-width: 738px) {
  #instafeed {
	width:100%;
}
.instagram-content .photo-box .top_name {
	border-radius:0;
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
}
}
.profile_photo_feed {
	height:35px;
	width:35px;
	 border-radius: 50%;
	 border:1px solid #ccc;
	 cursor:pointer;
}
.profile_photo_feed_big{
	position: absolute;
	width:0px;
	border-radius:50%;
	-webkit-transition:width 0.3s linear 0s, height 0.3s linear 0s;
	transition:width 0.3s, height 0.3s, transform 0.3s;
	z-index:999999;
	margin-left:-20px;
}
.profile_photo_feed:hover + .profile_photo_feed_big {
	width:200px;
	height:200px;
	border:1px solid #ccc;
}
.user_name_feed {
	text-transform: lowercase;
	font-weight:Semi-Bold;
	float:left;
	
}
.user_box {
	width:auto;
	height:20px;
	margin-top:-27.5px;
	margin-left:49px;
}
.user_verified_feed {
	background-image: url('../images/mediaconnect/verified.png');
	background-repeat: no-repeat;
	background-size:17px;
	position:absolute;
	top:1.8px;
	margin-left:5px;
	width:18px;
	height:18px;
	float:left;
	cursor:pointer;
}
.user_verified_feed span {
	visibility: hidden;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
	font-size:10px;
    border-radius: 6px;
    padding: 7px 5px;
  position: absolute;
    z-index: 1;
    top: -5px;
    left: 150%;
	opacity:0.9;
}
.user_verified_feed:hover span {
	visibility:visible;
}
.feed_time{
	color:grey;
	float:right;
	margin-top:-17.5px;
	font-size:13.3px;
	position:relative;
}
.user_name_feedbox {
	font-weight:bold;
	margin-top:-10px;
}
.notification {
	display:block;
	padding:15px;
	border-bottom:1px solid #e6e6e6;
}
.n_time{
	color:#a4a4a4;
	float:right;
	margin-top:3px;
	font-size:13px;
}
.n_profile_image_user {
	width:30px;
	height:30px;
	border-radius:50%;
}
.date {
	font-size:13px;
}
#error_msg {
	margin-top:30px;
	font-size:12px;
	color: #FA5858;
	text-align: center;
}
.user_image_feed {
  border-left:2px solid #D8D8D8;
  border-right:2px solid #D8D8D8;
	border:0px;
	vertical-align: middle;
	page-break-inside: avoid;
	 max-width: 100% !important;
}
/* comments */
.comments_input {
	margin-left:60px;
	font-size:13.3px;
	border:none;
	outline: none;
	width:85%;
}
.comments {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #000;
  letter-spacing: 1px;
  margin-left:10px;
  min-height:5px;
  height: auto;
  overflow: hidden;
}
#searchData {
	width:228px;
	height:auto;
	left:20px;
	overflow-y:auto;
	max-height: 250px;
	border: 1px solid #e6e6e6;
	box-shadow: 0 0 5px rgba(0,0,0,.0975);
	position:absolute;
	background:#fff;
	z-index:1;
	text-align:left;
}
  .arrow_box {
        top:42px;
        position: absolute;
        background: #ffffff;
        border: 1px solid  #d8d8d8;
        width: 200px;
        height: 200px;
        border-radius: 3px;
    }
    .arrow_box:after, 
    .arrow_box:before {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .arrow_box:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        left: 50%;
        margin-left: -10px;
    }
    .arrow_box:before {
        border-color: rgba(113, 158, 206, 0);
        border-bottom-color: #d8d8d8;
        border-width: 11px;
        left: 50%;
        margin-left: -11px;
    }
.searchUserResults{
	margin-bottom:0;
	padding:7px;
	border-bottom:1px solid #e6e6e6;
	font-weight:bold;
	font-size:13px;
}
.searchUserResults:hover{
	background:#F7F6F6;
}
.searchImage {
	width:30px;
	height:30px;
	border-radius:50%;
	border:1px solid #e6e6e6;
}
.userProfileLink {
	color:#000;
}
.userProfileLink:hover {
	color:#000;
}
.fileUpload {
    position: relative;
    overflow: hidden;
	margin: 0 -75px;
	cursor:pointer;
	top:0px;
    left:50%;

}
.fileUpload input.upload {
    position: absolute;
	margin:0 auto;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.profileUpload {
    position: relative;
	top:-90px;
	left:170px;
    overflow: hidden;

}
.profileUpload input.upload {
    position: absolute;
	margin:0 auto;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
footer {
  background: white;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  footer {
    padding: 100px 0;
  }
}
